<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">Accounts</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>Now {{branch}}'s account  is  updated! <span class="close" ng-click="cancel()"></span></h3>
		            		
		            </div>
		 </div>
		 
		<div class="panel-body">
		<div >
			<!-- start of account form -->
			<form class="table  table-striped bs-events-table" name="accountForm" novalidate ng-show="add">
			
			       <!-- <h3 class="modal-title">Add Branch</h3> -->
			       <div class="form-group" ng-class="{ 'has-error' : accountForm.name.$invalid && !accountForm.name.$pristine || (submitted && accountForm.name.$invalid)}">
			           <label>Client Code</label>
			           <input type="text" placeholder="Name" class="form-control" ng-model="client" name="name" readonly required/>
			       </div>
			      
			       <div class="form-group" ng-class="{ 'has-error' : accountForm.type.$invalid && !accountForm.type.$pristine || (submitted && accountForm.type.$invalid)}">
			           <label>Transection Type</label>
			           
			           <select class="form-control has-error" name="type" ng-model="account.type"  required>
			           		<option value="">Select</option>
							<option value="1">Deposite</option>
							<option value="0">Withdraw</option> 
						</select>
			           <p ng-show="accountForm.type.$invalid && !accountForm.type.$pristine|| (submitted && accountForm.type.$invalid)" class="help-block">Transection Type is required.</p>
			       </div>

			       <div class="form-group" ng-class="{ 'has-error' : accountForm.amount.$invalid && !accountForm.amount.$pristine || (submitted && accountForm.amount.$invalid)}">
			           <label>Amount</label>
			           <input type="number" placeholder="Amount" class="form-control" ng-model="account.amount" name="amount" required/>
			           <p ng-show="accountForm.amount.$invalid && !accountForm.amount.$pristine|| (submitted && accountForm.amount.$invalid)" class="help-block">Delivery Charge is required.</p>
			       </div>
			       
				      
				       <button confirm="Are you sure want to update account?" ng-click="save(accountForm.$valid)" type="submit" class="btn btn-primary">Add</button>
				</form>
				<!-- end of account form -->
			
		    <table class="table table-bordered table-striped bs-events-table" >
		      <thead>
		        <tr >
		          <th>Name</th>
		          <th>Client Code</th>
		          <th>Amounts</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="member in members">
		          <td>{{member.fname}} {{member.mname}} {{member.lname}}</td>
		          <td>{{member.username}}</td>
		          <td>{{member.amount}}</td>
		          <td>
		          	<span ng-click="addBranch(member.id,member.username)" >
		          		<button class="btn btn-warning">Edit</button>
		          	</span> 
		          	<!-- <span><button class="btn btn-danger">Delete</button></span> -->
		          </td>
		        </tr>
		        
		      </tbody>
		      <tfoot></tfoot>
		    </table>
		   
		  </div>
		  
		</div>
</div>

			

			

