<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">{{member.fname}} {{member.mname}} {{member.lname}}</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>{{message}} <span class="close" ng-click="cancel()"></span></h3>
		            		
		            </div>
		            <div class="note note-warning note-bordered" ng-show="isError" >
		            		<h3>{{message}}<span class="close" ng-click="cancel()"></span></h3>
		            		
		            </div>
		 </div>
		 
		<div class="panel-body">
		<div>
			   <!-- start of edit member form -->

			   	<form class="table  table-striped bs-events-table" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate >

			   	       <h3 class="modal-title">Change Password</h3>
			   	       <div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine || (submitted && userForm.fname.$invalid)}">
			   	           <label>Old Password*</label>
			   	           <input type="password" name="fname" class="form-control" ng-model="password.old" required>
			   	           <p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine|| (submitted && userForm.fname.$invalid)" class="help-block">Old Password is required.</p>
			   	       </div>
			   	       <div class="form-group" ng-class="{ 'has-error' : userForm.new.$invalid && !userForm.new.$pristine || (submitted && userForm.new.$invalid)}">
			   	           <label>New Password*</label>
			   	           <input type="password" name="new" class="form-control" ng-model="password.new" required  >
			   	           <p ng-show="userForm.new.$invalid && !userForm.new.$pristine|| (submitted && userForm.new.$invalid)" class="help-block">New Password is required.</p>

			   	       </div>


					<div class="form-group" ng-class="{ 'has-error' : (submitted && mismatch)}">
			   	           <label>Repeat Password*</label>
			   	            <input type="password" name="repeat" class="form-control" ng-model="password.repeat">
			   	           <p ng-show="(submitted && mismatch)" class="help-block">Password Mismatch!.</p>
			   	         

			   	       </div>

			   	       
			   	       <button confirm="Are you sure you want to change password?" ng-click="update(userForm.$valid)" type="submit" class="btn btn-primary">Update</button>
			   	       <button  ng-click="$close()"  class="btn btn-danger">Back</button>
			   	       
			   	   </form>
			   <!-- end of edit member form -->
		  </div>
		  
		</div>
</div>

			

			

