<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
	</div>
	<!-- END HEADER -->
	<div class="clearfix">
	</div>

	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">			
		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">

			<div class="page-content" >
				<!-- <div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat blue-madison">
							<div class="visual">
								<i class="fa fa-comments"></i>
							</div>
							<div class="details">
								<div class="number">
									1349
								</div>
								<div class="desc">
									New Feedbacks
								</div>
							</div>
							<a class="more" href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
							View more <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat red-intense">
							<div class="visual">
								<i class="fa fa-bar-chart-o"></i>
							</div>
							<div class="details">
								<div class="number">
									12,5M$
								</div>
								<div class="desc">
									Total Profit
								</div>
							</div>
							<a class="more" href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
							View more <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat green-haze">
							<div class="visual">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<div class="details">
								<div class="number">
									549
								</div>
								<div class="desc">
									New Orders
								</div>
							</div>
							<a class="more" href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
							View more <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat purple-plum">
							<div class="visual">
								<i class="fa fa-globe"></i>
							</div>
							<div class="details">
								<div class="number">
									+89%
								</div>
								<div class="desc">
									Brand Popularity
								</div>
							</div>
							<a class="more" href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
							View more <i class="m-icon-swapright m-icon-white"></i>
							</a>
						</div>
					</div>
				</div> -->
				<div class="row">	
					
					<div class="col-md-6 col-sm-6" ng-show="user.mtype < 3">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Warehouse</span>
								</div>
								
							</div>
							<div class="portlet-body">
								<div class="row">
									
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-sm-8" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Stocks</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th>Branch</th>
											          <th>Location</th>
											          <th>Product</th>
											          <th>Price</th>
											          <th>Quantity</th>
											          <th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="stock in stocks">
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),branchLocation(stock.branchId),product(stock.productTypeId))" >{{branchName(stock.branchId).name}}</span></td>
												  <td>{{branchLocation(stock.branchId)}}</td>
												  <td>{{product(stock.productTypeId).name}}</td>
												  <td><span class="bold font-green-haze">48000</span></td>
												  <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),product(stock.productTypeId))" >Buy</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Account Summary</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th >
														Description
													</th>
													<th>
														Amount(Rs)
													</th>
												</tr>
												
											</thead>
											<tbody>
												<tr>
													<td>
														<a class="primary-link">Deposite</a>
													</td>
													<td>
														<span class="bold font-green-haze">500000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Credit</a>
													</td>
													<td>
														<span class="bold font-green-haze">10000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Order</a>
													</td>
													<td>
														<span class="bold font-green-haze">100000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Pending Order</a>
													</td>
													<td>
														<span class="bold font-green-haze">200000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Balance</a>
													</td>
													<td>
														<span class="bold font-green-haze">200000</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					

				</div>
				<div class="row">
					<div class="col-md-8 col-sm-8" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Buy/sell</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th>Branch</th>
											          <th>Location</th>
											          <th>Product</th>
											          <th>Price</th>
											          <th>Quantity</th>
											          <th>Type</th>
											          <th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="stock in stocks">
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),branchLocation(stock.branchId),product(stock.productTypeId))" >{{branchName(stock.branchId).name}}</span></td>
												  <td>{{branchLocation(stock.branchId)}}</td>
												  <td>{{product(stock.productTypeId).name}}</td>
												  <td><span class="bold font-green-haze">48000</span></td>
												  <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
												  <td>Buy</td>
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),product(stock.productTypeId))" >Pending</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<span class="caption-subject font-purple-intense bold uppercase">Offline Request</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<!-- <thead>
												<tr class="uppercase">
													<th >
														Description
													</th>
													<th>
														Amount(Rs)
													</th>
												</tr>
												
											</thead> -->
											<tbody>
												<tr>
													<td>
														<a class="primary-link">Type</a>
													</td>
													<td>
														<select name="">
															<option value="1">Sell</option>
															<option value="1">Buy</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Branch</a>
													</td>
													<td>
														<select name="">
															<option ng-repeat="branch in branches" value="branch.id">{{branch.name}}</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Product</a>
													</td>
													<td>
														<select name="">
															<option ng-repeat="product in products" value="product.id">{{product.name}}</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Starting Price</a>
													</td>
													<td>
														<input type="number" name='startPrice'>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Last Price</a>
													</td>
													<td>
														<input type="number" name='lastPrice'>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Quantity</a>
													</td>
													<td>
														<input type="number" name='quantity'>(lot)
													</td>
												</tr>
												<tr>
													<td>
														
													</td>
													<td>
														<input type="submit" value="Request">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

			</div>	
		</div>
		<!-- END CONTENT -->
		
		<!-- BEGIN QUICK SIDEBAR -->
		<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
		<div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
		<!-- END QUICK SIDEBAR -->
	</div>