<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
	</div>
	<!-- END HEADER -->
	<div class="clearfix">
	</div>

	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">
		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">

			<div class="page-content" >
				<div class="row">	
				
					<!-- start of admin content -->
					<div class="col-md-8 col-sm-8" ng-show="user.mtype == 1">
						<div class="portlet light ">
							<div class="portlet-title ">
								<div class=" caption">
								<!-- caption-subject font-green-haze bold uppercase /caption-subject font-purple-intense bold uppercase -->
									<span ng-class="offlineClass" ng-click="changeRequest('0')">Market Watch</span>
								</div>
								<div class="caption right">
									<span ng-class="onlineClass"  ng-click="changeRequest('1')">Order Matching Engine</span>
								</div>

							</div>
							<div class="portlet-body">
								<div ng-hide="request" class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th>Product</th>
											          <th>Ask Price</th>
											          <th>Quantity</th>
											          <th>Location</th>
											          <th>High</th>
											          <th>Low</th>
											          <th>LTP</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="stock in stocks">
												  <td>{{product(stock.productTypeId).name}}</td>
												  <td><span class="bold font-green-haze">48000</span></td>
												  <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),branchLocation(stock.branchId),product(stock.productTypeId))" >{{branchName(stock.branchId).name}}</span></td>
												  <td>620</td>
												  
												  
												  
												  <td>605</td>
												  <td><span >606</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div ng-show="request" class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr>
													<th >Ask</th>
													<th >Bid</th>
												</tr>

												<!-- <tr class="uppercase">
													<th>Branch</th>
											          <th>Location</th>
											          <th>Product</th>
											          <th>Price</th>
											          <th>Quantity</th>
											          <th>Type</th>
											          <th>Status</th>
												</tr> -->
											</thead>

											<tbody>
												<tr>
													<td>
														<table class="table table-hover table-light" >
															<thead>
																<tr class="uppercase">
															          <th>Lot</th>
															          <th>Price</th>
															          <th>Action</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>3</td>
																	<td>300</td>
																	<td>Buy</td>

																</tr>
															</tbody>
														</table>
													</td>
													<td>
														<table class="table table-hover table-light">
															<thead>
																<tr class="uppercase">
															          <th>Lot</th>
															          <th>Price</th>
															          <th>Action</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>3</td>
																	<td>500</td>
																	<td>Sell</td>

																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- start of for trade board -->
					<div class="col-md-4 col-sm-4" ng-show="user.mtype == 1">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Trade Board</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light" >
											<thead>
												<tr class="uppercase">
											          <th>Lot</th>
											          <th>Price</th>
											          <th colspan="2">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>3</td>
													<td>300</td>
													<td>A</td>
													<td>R</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end of trade board -->
					<div class="col-md-12 col-sm-12" ng-show="user.mtype == 1">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Open Position</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th>Ticket</th>
											          <th>Time</th>
											          <th>Product</th>
											          <th>Type</th>
											          <th>Price</th>
											          <th>Quantity</th>
											          <th>Margin</th>
											          <th>Commision</th>
											          <th>Holding</th>
											          <th>Status</th>
												</tr>
											</thead>
											<tbody>
												<!-- <tr ng-repeat="stock in stocks">
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),branchLocation(stock.branchId),product(stock.productTypeId))" >{{branchName(stock.branchId).name}}</span></td>
												  <td>{{branchLocation(stock.branchId)}}</td>
												  <td>{{product(stock.productTypeId).name}}</td>
												  <td><span class="bold font-green-haze">48000</span></td>
												  <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
												  <td>Buy</td>
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),product(stock.productTypeId))" >Pending</span></td>
												</tr> -->
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end of admin content -->

					<!--  -->
					<div class="col-sm-8 col-md-8 " ng-show="user.mtype == 6">
						<div class="alert alert-success" role="alert">
				      		<strong>Available Margin:</strong>1000.00 <strong>Pending:</strong>1000.00
				    	</div>
				    	<div ng-show="user.mtype == 6">
						<div class="portlet light ">
							
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th>Product</th>
											          <th>Price</th>
											          <th>Branch</th>
											          <th>Quantity</th>
											          <th>High</th>
											          <th>Low</th>
											          <th>LTP</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="stock in stocks">
													<td>{{product(stock.productTypeId).name}}</td>
													<td><span class="bold font-green-haze">48000</span></td>
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),branchLocation(stock.branchId),product(stock.productTypeId))" >{{branchName(stock.branchId).name}}</span></td>
												  <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
												  <td>620</td>
												  <td>600</td>
												  <td><span >605</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="user.mtype == 6">
						<div class="portlet light ">
							
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										Chart
									</div>
								</div>
							</div>
						</div>
					</div>

					</div>
					<div class="col-md-4 col-sm-4" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title ">
								<div class=" caption">
								<!-- caption-subject font-green-haze bold uppercase /caption-subject font-purple-intense bold uppercase -->
									<span ng-class="offlineClass" ng-click="changeRequest('0')">Offline Request</span>
								</div>
								<div class="caption right">
									<span ng-class="onlineClass"  ng-click="changeRequest('1')">Online Request</span>
								</div>

							</div>
							<div class="portlet-body">
								<div ng-hide="request" class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover ">
											<tbody>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Type</a>
													</td>
													<td>
														<select name="">
															<option value="1">Sell</option>
															<option value="1">Buy</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Branch</a>
													</td>
													<td>
														<select name="">
															<option ng-repeat="branch in branches" value="branch.id">{{branch.name}}</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Product</a>
													</td>
													<td>
														<select name="">
															<option ng-repeat="product in products" value="product.id">{{product.name}}</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Starting Price</a>
													</td>
													<td>
														<input type="number" name='startPrice'>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Last Price</a>
													</td>
													<td>
														<input type="number" name='lastPrice'>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Quantity</a>
													</td>
													<td>
														<input type="number" name='quantity'>(lot)
													</td>
												</tr>
												
												<tr>
													<td>
														
													</td>
													<td>
														<input type="submit" value="Request" confirm=" Are you sure want to request ?">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div ng-show="request" class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover ">
											<tbody>
											<tr>
												<th><a class="primary-link bold font-green-haze">Delivery Date</a></th>
												<th>
													<!-- <input type="text" ng-model="delivery"  class="angular-datepicker-input"  />lot -->
													<div class="datepicker"
													      date-format="y-d-MM"
													      button-prev='<i class="fa fa-arrow-circle-left"></i>'
													      button-next='<i class="fa fa-arrow-circle-right"></i>'>
													      <input ng-model="delivery_date" type="text" class="angular-datepicker-input"/>
													    </div>
												</th>
											</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Location</a>
													</td>
													<td>
													
														<select ng-model="clientRequestStock" ng-change="changeClientBranch()">
															<option value="">Select</option>
															<option ng-repeat="stock in stocks" value="{{stock.id}}">{{branchName(stock.branchId).location}}</option>
															
														</select>
													</td>
												</tr>
												
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Product</a>
													</td>
													<td>
														<select name="" ng-model="clientProduct" ng-change="changeClientProduct()" >
															<option value="">select</option>
															<option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
														</select>
													</td>
												</tr>
												
												<tr>
													<th><a class="primary-link bold font-green-haze">Delivery Charge</a></th>
													<th>
														<input type="text" ng-model="delivery_charge" value="{{delivery_charge}}" />
													</th>
												</tr>
												<tr>
													<th><a class="primary-link bold font-green-haze">Commision</a></th>
													<th>
														<input type="text" value="{{commision}}/lot" />
													</th>
												</tr>
												<tr>
													<th><a class="primary-link bold font-green-haze">Margin</a></th>
													<th>
														<input type="text" value="{{margin}}/lot" />
													</th>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Quantity</a>
													</td>
													<td>
														<input type="number" name='amount' ng-model="amount">(lot)
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link bold font-green-haze">Cost</a>
													</td>
													<th>
														<input type="text" value="{{amount*(margin + commision)+(delivery_charge * (amount * lot_size)/10)}}"     />
													</th>
												</tr>
												<tr>
													<th><a class="primary-link bold font-green-haze">Remaning Cost</a></th>
													<th>
														<input type="text" value="{{ ((lot_size * amount)/10 *  30000) - (amount* margin) }}" readonly    />
													</th>
												</tr>

												<tr>
													<td>
														
													</td>
													<td>
														<input type="submit" value="Request" confirm=" Are you sure want to request ?">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="col-md-8 col-sm-8" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Order History</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th>Branch</th>
											          <th>Location</th>
											          <th>Product</th>
											          <th>Price</th>
											          <th>Quantity</th>
											          <th>Type</th>
											          <th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="stock in stocks">
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),branchLocation(stock.branchId),product(stock.productTypeId))" >{{branchName(stock.branchId).name}}</span></td>
												  <td>{{branchLocation(stock.branchId)}}</td>
												  <td>{{product(stock.productTypeId).name}}</td>
												  <td><span class="bold font-green-haze">48000</span></td>
												  <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
												  <td>Buy</td>
												  <td><span ng-click="addBranch(stock,branchName(stock.branchId),product(stock.productTypeId))" >Pending</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Account Summary</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr class="uppercase">
													<th >
														Description
													</th>
													<th>
														Amount(Rs)
													</th>
												</tr>
												
											</thead>
											<tbody>
												<tr>
													<td>
														<a class="primary-link">Deposite</a>
													</td>
													<td>
														<span class="bold font-green-haze">500000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Credit</a>
													</td>
													<td>
														<span class="bold font-green-haze">10000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Order</a>
													</td>
													<td>
														<span class="bold font-green-haze">100000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Pending Order</a>
													</td>
													<td>
														<span class="bold font-green-haze">200000</span>
													</td>
												</tr>
												<tr>
													<td>
														<a class="primary-link">Balance</a>
													</td>
													<td>
														<span class="bold font-green-haze">200000</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-8" ng-show="user.mtype == 6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">Order Matching Engine</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="table-scrollable table-scrollable-borderless">
										<table class="table table-hover table-light">
											<thead>
												<tr>
													<th >Ask</th>
													<th >Bid</th>
												</tr>

												<!-- <tr class="uppercase">
													<th>Branch</th>
											          <th>Location</th>
											          <th>Product</th>
											          <th>Price</th>
											          <th>Quantity</th>
											          <th>Type</th>
											          <th>Status</th>
												</tr> -->
											</thead>

											<tbody>
												<tr>
													<td>
														<table class="table table-hover table-light" >
															<thead>
																<tr class="uppercase">
															          <th>Lot</th>
															          <th>Price</th>
															          <th>Action</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>3</td>
																	<td>300</td>
																	<td>Buy</td>

																</tr>
															</tbody>
														</table>
													</td>
													<td>
														<table class="table table-hover table-light">
															<thead>
																<tr class="uppercase">
															          <th>Lot</th>
															          <th>Price</th>
															          <th>Action</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>3</td>
																	<td>500</td>
																	<td>Sell</td>

																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				</div>
			</div>	
		</div>
		<!-- END CONTENT -->
		<!-- BEGIN QUICK SIDEBAR -->
		<a href="javascript:;" class="page-quick-sidebar-toggler">this<i class="icon-close"></i></a>
		<div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
		<!-- END QUICK SIDEBAR -->
	</div>