<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span >×</span></button>
		            <h3 class="modal-title text-center" ng-hide="errorMessage || successMessage">Do you want to proceed with the Sell Limit Order?</h3>
		            <h3 class="modal-title  text-center alert alert-danger" ng-if="errorMessage">{{message}}</h3>
		            <h3 class="modal-title  text-center alert alert-success" ng-if="successMessage">{{message}}</h3>

		            
		 </div>
		 
		<div class="panel-body">
			 <h4  class="modal-title text-center">The transaction will result in following charges</h4>
		<div class="col-xs-8 col-xs-offset-2 ">
	      
	       <table class="table table-hover table-light">
	       
	       	<tbody>
	       		<tr>
	       			<td>
	       				<a class="primary-link">Margin:</a>
	       			</td>
	       			<td>
       				<span class="bold font-green-haze">00.00</span>
	       			</td>
	       		</tr>
	       		<tr>
	       			<td>
	       				<a class="primary-link">Commission</a>
	       			</td>
	       			<td>
       				<span class="bold font-green-haze">{{commission }}</span>
	       			</td>
	       		</tr>
	       		<tr>
	       			<td>
	       				<a class="primary-link">Remaining Cost</a>
	       			</td>
	       			<td>
       				<span class="bold font-green-haze">00.00</span>
	       			</td>
	       		</tr>
	       		
	       		<tr>
	       			<td>
	       				<a class="primary-link">Holding Cost</a>
	       			</td>
	       			<td>
	       				<span class="bold font-green-haze">{{holding_cost}}/day after {{delivery_date}}</span>
	       			</td>
	       		</tr>
	       	</tbody>
	       </table>
	       <div ng-hide="errorMessage || successMessage" >
		  	<span class="pull-left" ng-click="submit()" ><button class="btn btn-success">Yes</button></span>
		  	<span class="pull-right" ng-click="$close()" ><button class="btn btn-danger">No</button></span>
		  </div>
		  </div>
		  
		</div>
</div>

			

			

