<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">Members</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>{{message}} <span class="close" ng-click="cancel()"></span></h3>
		            		
		            </div>
		 </div>
		 
		<div class="panel-body">
		<div>
			<!-- Start of add member form -->
			<form class="table  table-striped bs-events-table" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate ng-if="add">

			       <h3 class="modal-title">Add Member</h3>
			       <div class="form-group" ng-class="{ 'has-error' : userForm.memberType.$invalid && !userForm.memberType.$pristine || (submitted && userForm.memberType.$invalid)}">
			           <label>Member Type*</label>
			           <select class="form-control has-error" name="memberType" ng-model="member.mtype" required>
			           		<option value="">Select</option>
							<option ng-repeat="memberType in memberTypes" value="{{memberType.id}}">{{memberType.name}}</option>
						</select>
			           <p ng-show="userForm.memberType.$invalid && !userForm.memberType.$pristine|| (submitted && userForm.memberType.$invalid)" class="help-block">Member type is required.</p>
			       </div>
			      
			        <div class="form-group">
			           <label>Agent Code</label>
			           <input type="text" name="fname" class="form-control" ng-model="member.agent" required>
			           
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine || (submitted && userForm.fname.$invalid)}">
			           <label>First Name*</label>
			           <input type="text" name="fname" class="form-control" ng-model="member.fname" required>
			           <p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine|| (submitted && userForm.fname.$invalid)" class="help-block">First Name is required.</p>
			       </div>
			       <div class="form-group" >
			           <label>Middle Name</label>
			           <input type="text" name="mname" class="form-control" ng-model="member.mname">
			       </div>
			       <div class="form-group" >
			           <label>Last Name</label>
			           <input type="text" name="lname" class="form-control" ng-model="member.lname">
			           
			       </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine|| (submitted && userForm.address.$invalid)}">
			      	<label>Address*</label>
					<TEXTAREA name="address" class="form-control" ng-model="member.address" required></TEXTAREA>
			      	<p ng-show="userForm.address.$invalid && !userForm.address.$pristine || (submitted && userForm.address.$invalid)" class="help-block">Address is required.</p>
			      </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.identity.$invalid && !userForm.identity.$pristine || (submitted && userForm.identity.$invalid)}">
			      	<label>Identity No.*</label>
					<input name="identity" class="form-control" ng-model="member.identity" type="number" min='10' required>
			      	<p ng-show=" userForm.identity.$invalid && !userForm.identity.$pristine || (submitted && userForm.identity.$invalid)" class="help-block">Identity No. is required.<br>
			      		Please give your valid citizenship No.</p>
			      </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.nationality.$invalid && !userForm.nationality.$pristine || (submitted && userForm.nationality.$invalid)}">
			      	<label>Nationality*</label>
					<input name="nationality" class="form-control" ng-model="member.nationality" type="text" required>
			      	<p ng-show="userForm.nationality.$invalid && !userForm.nationality.$pristine || (submitted && userForm.nationality.$invalid)" class="help-block">Nationality is required.</p>
			      	
			      </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.dob.$invalid && !userForm.dob.$pristine || (submitted && userForm.dob.$invalid)}">
			      	<label>Date of birth*</label>
					<div class="datepicker"
				      date-format="y-d-MM"
				      button-prev='<i class="fa fa-arrow-circle-left"></i>'
				      button-next='<i class="fa fa-arrow-circle-right"></i>'>
				      <input name="dob" ng-model="member.dob" type="text" required class="form-control angular-datepicker-input"/>
				    </div>
			      	<p ng-show="userForm.dob.$invalid && !userForm.dob.$pristine || (submitted && userForm.dob.$invalid)" class="help-block">Date of birth is required.</p>
			      </div>

			      <div class="form-group" ng-class="{ 'has-error' : userForm.ban.$invalid && !userForm.ban.$pristine || (submitted && userForm.ban.$invalid)}">
			      	<label>Bank account number*</label>
					<input name="ban" class="form-control" ng-model="member.ban" type="text" required>
			      	<p ng-show="userForm.ban.$invalid && !userForm.ban.$pristine || (submitted && userForm.ban.$invalid)" class="help-block">Bank account number is required.</p>
			      </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine || (submitted && userForm.email.$invalid)}">
			      	<label>Email*</label>
					<input name="email" class="form-control" ng-model="member.email" type="email" required>
			      	<p ng-show="userForm.email.$invalid && !userForm.email.$pristine || (submitted && userForm.email.$invalid)" class="help-block">Email is required.</p>
			      </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.mobileNo.$invalid && !userForm.mobileNo.$pristine || (submitted && userForm.mobileNo.$invalid)}">
			      	<label>Mobile Number</label>
					<input name="mobileNo" class="form-control" ng-model="member.mobileNo" type="number" min="9000000000" >
			      	<p ng-show="userForm.mobileNo.$invalid && !userForm.mobileNo.$pristine || (submitted && userForm.mobileNo.$invalid)" class="help-block">Plz give  valid mobile no. </p>
			      </div>
			      <div class="form-group" ng-class="{ 'has-error' : userForm.contactNo.$invalid && !userForm.contactNo.$pristine || (submitted && userForm.contactNo.$invalid) }">
			      	<label>Contact Number*</label>
					<input name="contactNo" class="form-control" ng-model="member.contactNo" type="number" min="9000000000" required>
			      	<p ng-show="userForm.contactNo.$invalid && !userForm.contactNo.$pristine || (submitted && userForm.contactNo.$invalid)" class="help-block">Plz give  valid contact no.  </p>
			      </div>
			       <button confirm="Are you sure you want to register new member?" ng-click="save(userForm.$valid)" type="submit" class="btn btn-primary">Submit</button>
			       
			   </form>
			   <!-- end of add member form -->
			   <!-- start of edit member form -->

			   	<form class="table  table-striped bs-events-table" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate ng-if="edit">

			   	       <h3 class="modal-title">Edit Member</h3>
			   	       <div class="form-group" ng-class="{ 'has-error' : userForm.memberType.$invalid && !userForm.memberType.$pristine || (submitted && userForm.memberType.$invalid)}">
			   	           <label>Member Type*</label>
			   	           <select class="form-control has-error" name="memberType" ng-model="member.mtype" required>
			   	           		<option value="">Select</option>
			   					<option ng-repeat="memberType in memberTypes" value="{{memberType.id}}">{{memberType.name}}</option>
			   				</select>
			   	           <p ng-show="userForm.memberType.$invalid && !userForm.memberType.$pristine|| (submitted && userForm.memberType.$invalid)" class="help-block">Member type is required.</p>
			   	       </div>
			   	       <!-- <div class="form-group" ng-class="{ 'has-error' : userForm.branch.$invalid && !userForm.branch.$pristine || (submitted && userForm.branch.$invalid)}">
			   	           <label>Branch*</label>
			   	           <select class="form-control has-error" name="branch" ng-model="member.branch" required>
			   	           		<option value="">Select</option>
			   					<option ng-repeat="branche in branches" value="{{branche.id}}">{{branche.name}}</option>
			   				</select>
			   	           <p ng-show="userForm.branch.$invalid && !userForm.branch.$pristine|| (submitted && userForm.branch.$invalid)" class="help-block">Branch is required.</p>
			   	       </div> -->
			   	       <!-- NAME -->
			   	       <div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine || (submitted && userForm.fname.$invalid)}">
			   	           <label>First Name*</label>
			   	           <input type="text" name="fname" class="form-control" ng-model="member.fname" required>
			   	           <p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine|| (submitted && userForm.fname.$invalid)" class="help-block">First Name is required.</p>
			   	       </div>
			   	       <div class="form-group" >
			   	           <label>Middle Name</label>
			   	           <input type="text" name="mname" class="form-control" ng-model="member.mname">
			   	       </div>
			   	       <div class="form-group" >
			   	           <label>Last Name</label>
			   	           <input type="text" name="lname" class="form-control" ng-model="member.lname">
			   	           
			   	       </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine|| (submitted && userForm.identity.$invalid)}">
			   	      	<label>Address*</label>
			   			<TEXTAREA name="address" class="form-control" ng-model="member.address" required></TEXTAREA>
			   	      	<p ng-show="userForm.address.$invalid && !userForm.address.$pristine || (submitted && userForm.address.$invalid)" class="help-block">Address is required.</p>
			   	      </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.identity.$invalid && !userForm.identity.$pristine || (submitted && userForm.identity.$invalid)}">
			   	      	<label>Identity No.*</label>
			   			<input name="identity" class="form-control" ng-model="member.identity" type="number" min='10' required>
			   	      	<p ng-show=" userForm.identity.$invalid && !userForm.identity.$pristine || (submitted && userForm.identity.$invalid)" class="help-block">Identity No. is required.<br>
			   	      		Please give your valid citizenship No.</p>
			   	      </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.nationality.$invalid && !userForm.nationality.$pristine || (submitted && userForm.nationality.$invalid)}">
			   	      	<label>Nationality*</label>
			   			<input name="nationality" class="form-control" ng-model="member.nationality" type="text" required>
			   	      	<p ng-show="userForm.nationality.$invalid && !userForm.nationality.$pristine || (submitted && userForm.nationality.$invalid)" class="help-block">Nationality is required.</p>
			   	      	
			   	      </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.dob.$invalid && !userForm.dob.$pristine || (submitted && userForm.dob.$invalid)}">
			   	      	<label>Date of birth*</label>
			   			<div class="datepicker"
			   		      date-format="y-d-MM"
			   		      button-prev='<i class="fa fa-arrow-circle-left"></i>'
			   		      button-next='<i class="fa fa-arrow-circle-right"></i>'>
			   		      <input name="dob" ng-model="member.dob" type="text" required class="form-control angular-datepicker-input"/>
			   		    </div>
			   	      	<p ng-show="userForm.dob.$invalid && !userForm.dob.$pristine || (submitted && userForm.dob.$invalid)" class="help-block">Date of birth is required.</p>
			   	      </div>

			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.ban.$invalid && !userForm.ban.$pristine || (submitted && userForm.ban.$invalid)}">
			   	      	<label>Bank account number*</label>
			   			<input name="ban" class="form-control" ng-model="member.ban" type="text" required>
			   	      	<p ng-show="userForm.ban.$invalid && !userForm.ban.$pristine || (submitted && userForm.ban.$invalid)" class="help-block">Bank account number is required.</p>
			   	      </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine || (submitted && userForm.email.$invalid)}">
			   	      	<label>Email*</label>
			   			<input name="email" class="form-control" ng-model="member.email" type="email" required>
			   	      	<p ng-show="userForm.email.$invalid && !userForm.email.$pristine || (submitted && userForm.email.$invalid)" class="help-block">Email is required.</p>
			   	      </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.mobileNo.$invalid && !userForm.mobileNo.$pristine || (submitted && userForm.mobileNo.$invalid)}">
			   	      	<label>Mobile Number</label>
			   			<input name="mobileNo" class="form-control" ng-model="member.mNumber" type="number" min="9000000000" >
			   	      	<p ng-show="userForm.mobileNo.$invalid && !userForm.mobileNo.$pristine || (submitted && userForm.mobileNo.$invalid)" class="help-block">Plz give  valid mobile no. </p>
			   	      </div>
			   	      <div class="form-group" ng-class="{ 'has-error' : userForm.contactNo.$invalid && !userForm.contactNo.$pristine || (submitted && userForm.contactNo.$invalid) }">
			   	      	<label>Contact Number*</label>
			   			<input name="contactNo" class="form-control" ng-model="member.cNumber" type="number" min="9000000000" required>
			   	      	<p ng-show="userForm.contactNo.$invalid && !userForm.contactNo.$pristine || (submitted && userForm.contactNo.$invalid)" class="help-block">Plz give  valid contact no.  </p>
			   	      </div>
			   	       <button confirm="Are you sure you want to update member?" ng-click="update(userForm.$valid)" type="submit" class="btn btn-primary">Update</button>
			   	       <button  ng-click="back()" type="submit" class="btn btn-danger">Back</button>
			   	       
			   	   </form>
			   <!-- end of edit member form -->
			
		    <table class="table table-bordered table-striped bs-events-table" >
		      <thead>
		        <tr >
		          <th>Client Code</th>
		          <th>Client Profile</th>
		          <th>Order History</th>
		          <th>Balance</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="member in members">
		        	<td>{{member.username}}</td>
		          <td>{{member.fname}} {{member.mname}} {{member.lname}}</td>
		          <td>Click Here</td>
		          <td>{{member.amount}}</td>
		          <td>
		          	<span ><button ng-click="showEdit(member)" class="btn btn-info">Edit</button></span> 
		          	<span><button confirm="Are you sure want to suspend {{member.fname}} {{member.mname}} {{member.lname}}" ng-if='member.status == 1' ng-click="suspend(member.id)" class="btn btn-warning">Suspend</button></span>
		          	<span><button confirm="Are you sure want to release {{member.fname}} {{member.mname}} {{member.lname}}" ng-if='member.status == 2' ng-click="release(member.id)" class="btn btn-warning">Release</button></span>
		          	<span><button confirm="Are you sure want to delete {{member.fname}} {{member.mname}} {{member.lname}}"  ng-click="delete(member.id)" class="btn btn-danger">Delete</button></span>
		          </td>
		        </tr>
		        
		      </tbody>
		      <tfoot></tfoot>
		    </table>
		   
		  </div>
		  	<span ng-click="addBranch()" ng-hide="add"><button class="btn btn-success">Add Member</button></span>
		  	<span ng-click="addBranch()" ng-show="add"><button class="btn btn-success">List Members</button></span>
		</div>
</div>

			

			

