<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">Send Notice</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>Your notice  is sent successfully! <span class="close" ng-click="cancel()"></span></h3>
		            </div>
		 </div>
		 
		<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped bs-events-table">
				<thead>
					<tr>
						<th>To</th>
						<th>
							<select ng-model="notice.for">
								<option value="0">All</option>
								<option ng-repeat="memberType in memberTypes" value="memberType.id">{{memberType.name}}</option>
							</select>
						</th>
					</tr>
				
					<tr>
						<th >Subject</th>
						<th>
							<input type="text" ng-model="notice.subject" />
						</th>
					</tr>
					<tr>
						
						
					</tr>
					<tr >
						<th style="vertical-align: middle;" >Notice</th>
						<th >
							<textarea ng-model="notice.body" class="form-control todo-taskbody-taskdesc" rows="8" placeholder="Notice..."></textarea>
						</th>
					</tr>
					
					
					<tr>
						<th></th>
						<th> <span ng-click="save()"> Add</span></th>
					</tr>
				</thead>
			</table>
		  </div>
		</div>
</div>

			

			

