<div class="panel panel-default">
		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">Product Type</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>Now {{branch}} is added to Product Type! <span class="close" ng-click="cancel()"></span></h3>
		            </div>
		 </div>
		<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped bs-events-table" ng-show="add">
			<form name="userForm" novalidate>
				<thead>
					<tr>
						<th>Name</th>
						<th>
							<input ng-model="name" type="text" required >
						</th>
					</tr>
					<tr>
						<th>Lot Size</th>
						<th><input ng-model="lotSize" type="text">(gram)</th>
					</tr>
					<tr>
						<th>Commision</th>
						<th><input ng-model="commision" type="text"></th>
					</tr>
					<tr>
						<th>Margin</th>
						<th><input ng-model="margin" type="text"></th>
					</tr>
					<tr>
						<th>Holding Cost</th>
						<th><input ng-model="holding_cost" type="text"></th>
					</tr>
					<tr>
						<th></th>
						<th> <span type="submit" ng-click="save()"><button class="btn btn-success" > Save</button></span></th>
					</tr>

				</thead>
				</form>
			</table>
		    <table class="table table-bordered table-striped bs-events-table" >
		      <thead>
		        <tr >
		          <th>Name</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="product in products">
		          <td>{{product.name}}</td>
		          <td><button class="btn btn-warning" >Edit</button> <button class="btn btn-danger">Delete</button></td>
		        </tr>
		        
		      </tbody>
		      <tfoot></tfoot>
		    </table>
		   
		  </div>
		  	<span ng-click="addBranch()" ng-hide="add"><button class="btn btn-success">Add Product Type</button></span>
		  	<span ng-click="addBranch()" ng-show="add"><button class="btn btn-success">List Product Type</button></span>
		</div>
</div>

			

			

