<div class="panel panel-default">
		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">Product Type</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>{{message}} <span class="close" ng-click="cancel()"></span></h3>
		            </div>
		 </div>
		<div class="panel-body">
		<div >
			 
			<!-- start of add product type form -->
			<form class="table  table-striped bs-events-table" name="productForm" novalidate ng-if="add">
			
			       <h3 class="modal-title">Add Product Type</h3>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.name.$invalid && !productForm.name.$pristine || (submitted && productForm.name.$invalid)}">
			           <label>Name</label>
			           <input type="text" placeholder="Name" class="form-control" ng-model="stockProduct.name" name="name" required/>
			           <p ng-show="productForm.name.$invalid && !productForm.name.$pristine|| (submitted && productForm.name.$invalid)" class="help-block"> Name is required.</p>
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.lotSize.$invalid && !productForm.lotSize.$pristine || (submitted && productForm.lotSize.$invalid)}">
			           <label>Lot Size</label>
			           <input type="number" placeholder="Lot Size(g.m)" class="form-control" ng-model="stockProduct.lotSize" name="lotSize" required/>
			           <p ng-show="productForm.lotSize.$invalid && !productForm.lotSize.$pristine|| (submitted && productForm.lotSize.$invalid)" class="help-block"> Lot Size is required.</p>
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.commision.$invalid && !productForm.commision.$pristine || (submitted && productForm.commision.$invalid)}">
			           <label>Commision</label>
			           <input type="number" placeholder="Commision" class="form-control" ng-model="stockProduct.commision" name="commision" required/>
			           <p ng-show="productForm.commision.$invalid && !productForm.commision.$pristine|| (submitted && productForm.commision.$invalid)" class="help-block"> Commision is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.margin.$invalid && !productForm.margin.$pristine || (submitted && productForm.margin.$invalid)}">
			           <label>Margin</label>
			           <input type="number" placeholder="Margin" class="form-control" ng-model="stockProduct.margin" name="margin" required/>
			           <p ng-show="productForm.margin.$invalid && !productForm.margin.$pristine|| (submitted && productForm.margin.$invalid)" class="help-block"> Margin is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.holding_cost.$invalid && !productForm.holding_cost.$pristine || (submitted && productForm.holding_cost.$invalid)}">
			           <label>Holding Cost</label>
			           <input type="number" placeholder="Holding Cost" class="form-control" ng-model="stockProduct.holding_cost" name="holding_cost" required/>
			           <p ng-show="productForm.holding_cost.$invalid && !productForm.holding_cost.$pristine|| (submitted && productForm.holding_cost.$invalid)" class="help-block"> Holding Cost is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.productType.$invalid && !productForm.productType.$pristine || (submitted && productForm.productType.$invalid)}">
			           <label>Store Type*</label>
			           <select class="form-control has-error" name="productType" ng-model="stockProduct.productType"  required>
			           		<option value="">Select</option>
							<option value="0">Wholesale</option>
							<option value="1">Retail</option> 
						</select>
			           <p ng-show="productForm.productType.$invalid && !productForm.productType.$pristine|| (submitted && productForm.productType.$invalid)" class="help-block">Store Type is required.</p>
			       </div>
				      
				       <button confirm="Are you sure want to add product type" ng-click="save(productForm.$valid)" type="submit" class="btn btn-primary">Add</button>
				</form>
				<!-- end of add product type form -->
			<!-- start of edit product form -->
			<form class="table  table-striped bs-events-table" name="productForm" novalidate ng-if="edit">
			
			       <h3 class="modal-title">Edit Product Type</h3>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.name.$invalid && !productForm.name.$pristine || (submitted && productForm.name.$invalid)}">
			           <label>Name</label>
			           <input type="text" placeholder="Name" class="form-control" ng-model="stockProduct.name" name="name"  required/>
			           <p ng-show="productForm.name.$invalid && !productForm.name.$pristine|| (submitted && productForm.name.$invalid)" class="help-block"> Name is required.</p>
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.lotSize.$invalid && !productForm.lotSize.$pristine || (submitted && productForm.lotSize.$invalid)}">
			           <label>Lot Size</label>
			           <input type="number" placeholder="Lot Size(g.m)" class="form-control" ng-model="stockProduct.lot_size" name="lotSize" readonly required/>
			           <p ng-show="productForm.lotSize.$invalid && !productForm.lotSize.$pristine|| (submitted && productForm.lotSize.$invalid)" class="help-block"> Lot Size is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.commision.$invalid && !productForm.commision.$pristine || (submitted && productForm.commision.$invalid)}">
			           <label>Commision</label>
			           <input type="number" placeholder="Commision" class="form-control" ng-model="stockProduct.commision" name="commision"  readonly required/>
			           <p ng-show="productForm.commision.$invalid && !productForm.commision.$pristine|| (submitted && productForm.commision.$invalid)" class="help-block"> Commision is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.margin.$invalid && !productForm.margin.$pristine || (submitted && productForm.margin.$invalid)}">
			           <label>Margin</label>
			           <input type="number" placeholder="Margin" class="form-control" ng-model="stockProduct.margin" name="margin" readonly required/>
			           <p ng-show="productForm.margin.$invalid && !productForm.margin.$pristine|| (submitted && productForm.margin.$invalid)" class="help-block"> Margin is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.holding_cost.$invalid && !productForm.holding_cost.$pristine || (submitted && productForm.holding_cost.$invalid)}">
			           <label>Holding Cost</label>
			           <input type="number" placeholder="Holding Cost" class="form-control" ng-model="stockProduct.holding_cost" name="holding_cost" readonly required/>
			           <p ng-show="productForm.holding_cost.$invalid && !productForm.holding_cost.$pristine|| (submitted && productForm.holding_cost.$invalid)" class="help-block"> Holding Cost is required.</p>
			          
			       </div>
			       <div class="form-group" ng-class="{ 'has-error' : productForm.productType.$invalid && !productForm.productType.$pristine || (submitted && productForm.productType.$invalid)}">
			           <label>Store Type*</label>
			           <select class="form-control has-error" name="productType" ng-model="stockProduct.type" readonly required>
			           		<option value="">Select</option>
							<option value="0">Wholesale</option>
							<option value="1">Retail</option> 
						</select>
			           <p ng-show="productForm.productType.$invalid && !productForm.productType.$pristine|| (submitted && productForm.productType.$invalid)" class="help-block">Store Type is required.</p>
			       </div>
				      
				       <button confirm="Are you sure want to edit  product type?" ng-click="update(productForm.$valid)" type="submit" class="btn btn-primary">Update</button>
				</form>
			<!-- End of edit product form -->
		    <table class="table table-bordered table-striped bs-events-table" >
		      <thead>
		        <tr >
		          <th>Name</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="product in products">
		          <td>{{product.name}}</td>
		          <td>
		          	<button class="btn btn-warning" ng-click="showEdit(product)" >Edit</button> 
		          	<!-- <button class="btn btn-danger">Delete</button> -->
		          </td>
		        </tr>
		        
		      </tbody>
		      <tfoot></tfoot>
		    </table>
		   
		  </div>
		  	<span ng-click="addBranch()" ng-hide="add"><button class="btn btn-success">Add Product Type</button></span>
		  	<span ng-click="addBranch()" ng-show="add"><button class="btn btn-success">List Product Type</button></span>
		</div>
</div>

			

			

