

<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title"><i class="icon-equalizer font-red-sunglo"></i>
					<span class="caption-subject font-red-sunglo bold uppercase">Unverified Member</span></h3>
		            
		 </div>
		 
		<div class="panel-body">
		<div class="table-responsive">
			<form name ="userForm" >
			
		    <table class="table table-striped bs-events-table" >
		      <thead>
		        
		      </thead>
		      <tbody>
		      	<tr >
		      	  	<td>Name:</td>
		      	  	<td>{{member.fname}} {{member.mname}} {{member.lname}}</td>
		      	</tr>
		      	<tr >
		      	  	<td>Address:</td>
		      	  	<td>{{member.address}}</td>
		      	</tr>
		      	<tr >
		      	  	<td>Identity:</td>
		      	  	<td>{{member.identity}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Nationality:</td>
		      	  	<td>{{member.nationality}}</td>
		      	</tr>
		      	<tr >
		      	  	<td>Date of birth:</td>
		      	  	<td>{{member.dob}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Account No.:</td>
		      	  	<td>{{member.ban}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Email:</td>
		      	  	<td>{{member.email}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Contact Number:</td>
		      	  	<td>{{member.cNumber}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Mobile Number:</td>
		      	  	<td>{{member.mNumber}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Agent:</td>
		      	  	<td>{{agent.username}} </td>
		      	</tr>
		      	<tr >
		      	  	<td>Member Type</td>
		      	  	<td>
						<!-- <select ng-model="mtype" class="form-control"   required >
							<option ng-repeat="memberType in memberTypes | orderBy:'-id'" value="{{memberType.id}}">{{memberType.name}}</option>
						</select> -->
						<select ng-model="member.mtype" class="form-control" readonly>
							<option ng-repeat="memberType in memberTypes" value="{{memberType.id}}" ng-selected=" member.mtype == memberType.id">{{memberType.name}}</option>
						</select>
		      	  	 </td>
		      	</tr>
		      	<tr >
		      	  	<td>Client Code:</td>
		      	  	<td>{{member.username}} </td>
		      	</tr>
		      	
		      	<tr>
		      		<td colspan="2"> </td>
		      	  	<td> </td>
		      	</tr>

		        
		      </tbody>
		      <tfoot>
		      	<div id="message" class="note note-success note-bordered" ng-show="success">
		      			<h3>Now {{member.fname}} {{member.mname}} {{member.lname}} is verified member! <span class="close" ng-click="cancel()"></span></h3>
		      			
		      	</div>
		      	<div  class="note note-danger note-bordered" ng-show="fail">
		      			<h3><span class="label label-danger">NOTE:</span>{{member.fname}} {{member.mname}} {{member.lname}}  could not verified! {{serverError}} <span class="close" ng-click="cancel()"></span></h3>
		      	</div>
		      	<tr >
		      	  	<td colspan="2">
		      	  		<input confirm="Are you sure you want to varify?" class="btn green" type="submit" ng-click="send(1)" value="Verify">
		      			<button type="button" class="btn default" ng-click="cancel()">Cancel</button>
		      		</td>
		      	</tr>
		      	
		      </tfoot>
		    </table>
		</form>
		   
		  </div>
		  
		</div>
</div>
