<div class="panel panel-default">

		<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span >×</span></button>
		            <h3 class="modal-title">Ware House</h3>
		            <div id="message" class="note note-success note-bordered" ng-show="isDone" >
		            		<h3>Now {{branch}} is added to brach! <span class="close" ng-click="cancel()"></span></h3>
		            </div>
		 </div>
		 
		<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped bs-events-table" ng-show="add">
				<thead>
					<tr>
						<th>Branch</th>
						<th>
							<input readonly value="{{branchName(updateStock.branchId).name}}"/>
						</th>
					</tr>
					<tr>
						<th>Location</th>
						<th>
							<input readonly value="{{branchLocation(updateStock.branchId)}}"/>
						</th>
					</tr>
					<tr>
						<th>Product</th>
						<th>
							<input readonly value="{{product(updateStock.productTypeId).name}}"/>
						</th>
					</tr>
					<tr>
						<th>Add Quantity</th>
						<th>
							<input type="text" ng-model="Quantity" />(lot)
						</th>
					</tr>
					
					
					<tr>
						<th></th>
						<th> <span ng-click="save()"> Add</span></th>
					</tr>
				</thead>
			</table>
		    <table class="table table-bordered table-striped bs-events-table" >
		      <thead>
		        <tr >
		          <th>Branch</th>
		          <th>Location</th>
		          <th>Product</th>
		          <th>Quantity</th>
		          <th>Request</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>

		        <tr ng-repeat="stock in stocks">
		          <td>{{branchName(stock.branchId).name}}</td>
		          <td>{{branchLocation(stock.branchId)}}</td>
		          <td>{{product(stock.productTypeId).name}}</td>
		          <td>{{stock.onlineQuantity/product(stock.productTypeId).lot_size}}(lot)</td>
		          <td> &nbsp;&nbsp;&nbsp;<span class="label label-success" ng-click="showRequest(stock.request)">  {{stock.request.length}}</span></td>
		          <td><span ng-click="addBranch(stock)">Add</span></td>
		        </tr>
		        
		      </tbody>
		      <tfoot></tfoot>
		    </table>
		    <table class="table table-bordered table-striped bs-events-table" ng-show="isShowRequest">

		    	<thead>
		    		
		    		<tr>
		    			<th>Branch</th>
		    			<th>Product</th>
		    			<th>Client</th>
		    			<th>Quantity</th>
		    			<th>Action</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr ng-repeat="request in requests">
		    			<td>{{branchName(getStock(request.stockId).branchId).name}}</td>
		    			<td>{{product(getStock(request.stockId).productTypeId).name}}</td>
		    			<td>{{getMemberById(request.memberId).username}}</td>
		    			<td>{{request.amount/product(getStock(request.stockId).productTypeId).lot_size}}(lot)</td>
		    			<td><span ng-click="approve(request.id)" class="btn-success" confirm="Are you sure want to approve?">Approve</span>&nbsp;&nbsp;&nbsp;<span ng-click="reject(request.id)" class="btn-danger" confirm="Are you sure want ot reject?">Reject</span></td> 
		    			
		    		</tr>
		    	</tbody>
		    	<tfoot>
		    		<tr>
		    			<th ng-click="hideRequest()">Back</th>
		    		</tr>
		    	</tfoot>
		    </table>
		   
		  </div>
		</div>
</div>

			

			

