  body{
  //background: #000;
}
#loading {
height: auto;
position: absolute;
left: 35%;
top: 30%;
padding: 2px;
z-index: -1;
}
#login{
	margin-top: 150px;
}
.page-on-load {
  //background: #000;
}
.btn + .btn {
   margin-left: 0px; 
}
.right{
	float: right !important;
}
.myAlert {
    padding: 13px;
}
.page-content-wrapper .page-content {
    
    padding: 0;
}
.portlet.light {
   // padding: 0px 12px 15px 15px;
    background-color: #fff;
}
.chart{
      background-color: darkgray;
}
@media (min-width: 768px){
	.modal-dialog {
    width: 700px;
   
}
}


